a {
  @include transition-duration(0.3s);
    color: $c_gold;  
}

span.or {
  display: inline-block;
  padding: 0 5px;
  line-height: 34px;  
}

b, strong, dl dt {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;  
}

#wrapper {
  h3, .search-results-title {
    border-bottom: 2px solid lighten($c_gold, 30);
    color: $c_gold;
  }  
}

body {
  font-family: $ff_base;
}